---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import { CARDS } from '../config'

const title = 'Without preload'
const description = 'Demo of a background image used only through CSS'
---

<Layout
  description={description}
  title={title}
>
  <main>
    <h1>Without Preload</h1>
    <ul>
      {CARDS.map((props) => <Card {...props} />)}
    </ul>
  </main>
</Layout>
