---
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/CardCSS.astro'
import PreloadImage from '@/components/PreloadImages.astro'
import { CARDS } from '@/config'

const title = 'With preload'
const description = 'Demo of a background image used through CSS but preloaded with a head link'

const imgsToPreload = [...new Set(CARDS.map(({ variant }) => `/${variant}.jpg`))]
---

<Layout
  description={description}
  title={title}
>
  <PreloadImage
    links={imgsToPreload}
    slot='head'
  />
  <main>
    <h1>With Preload</h1>
    <ul>
      {CARDS.map((props) => <Card {...props} />)}
    </ul>
  </main>
</Layout>
