---
import type { Card } from '@/types'

type Props = Card

const { body, title, variant } = Astro.props
---

<li class:list={['link-card', { [`${variant}`]: variant }]}>
  <h2>{title}</h2>
  <p>{body}</p>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    border-radius: 7px;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .flamingo-1 {
    background-image: url(/flamingo-1.jpg);
  }

  .flamingo-2 {
    background-image: url(/flamingo-2.jpg);
  }

  .flamingo-3 {
    background-image: url(/flamingo-3.jpg);
  }

  .flamingo-4 {
    background-image: url(/flamingo-4.jpg);
  }

  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
</style>
