---
import type { Card } from '@/types'

type Props = Card

const { body, title, variant } = Astro.props
---

<li class:list={['link-card', { [`${variant}`]: variant }]}>
  <h2>{title}</h2>
  <p>{body}</p>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-end;
    justify-content: flex-end;
    height: 180px;
    padding: 1rem;
    border-radius: var(--border-radius-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flamingo-1 {
    background-image: url(/flamingo-1.jpg);
  }

  .flamingo-2 {
    background-image: url(/flamingo-2.jpg);
  }

  .flamingo-3 {
    background-image: url(/flamingo-3.jpg);
  }

  .flamingo-4 {
    background-image: url(/flamingo-4.jpg);
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }

  h2,
  p {
    color: var(--color-dark-1);
    font-weight: 600;
    background-color: #ffffff8e;
    border-radius: var(--border-radius-1);
    padding-inline: 0.6rem;
  }
</style>
