---
import '@/styles/classes.css'
import '@/styles/normalize.css'
import '@/styles/reset.local.css'
import '@/styles/tokens.css'

import Header from '@/components/Header.astro'
import SEO from '@/components/SEO.astro'

interface Props {
  description: string
  title: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <SEO
      description={description}
      title={title}
    />
    <slot name='head' />
  </head>
  <body>
    <Header />
    <slot />
    <style>
      html {
        background: var(--background-color);
      }
    </style>
    <style is:global>
      main {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 20px;
        line-height: 1.6;
        gap: 1.5rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
      }
    </style>
  </body>
</html>
